
@{
    ViewBag.Title = "Show";
}
<div class="row">
    <h1>Data Sharing Techniques</h1>
    <span>Temp Data</span>:<span> @TempData["TDHeader1"]</span>
    <br />
    <span>View Data</span>:<span>@ViewData["VDHeader"]</span>
    <br />
    <span>View Bag</span>:<span>@ViewBag.VBHeader</span>
    <br />
    <span>View Data</span>:<span>@ViewBag.VBData</span>
    <br />
    <span>Temp Data</span>:<span>@TempData["TDData"]</span>
    <br/>
    <h1>hello</h1>
    <h1>Temp get Data</h1>:<h1>@TempData["name"]</h1>
</div>

<div class="clsdiv">
    <h1>Data Sharing Techniques</h1>
    <h1>Data Sharing Techniques</h1>
    <h1>Data Sharing Techniques</h1>
    <h1>Data Sharing Techniques</h1>
    <h1>Data Sharing Techniques</h1>
    <h1>Data Sharing Techniques</h1>
    <h1>Data Sharing Techniques</h1>
    <h1>Data Sharing Techniques</h1>
    <h1>Data Sharing Techniques</h1>
</div>